{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Reservas</title>
    <link rel="stylesheet" href="{% static 'CSS/Crud.css'%}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Mis reservas</h1>
        <a class="nav-link active" aria-current="page" href="../">Inicio</a>
        <h1>Reservas</h1>
        {% if formulario %}
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Número</th>
                        <th>Correo</th>
                        <th>Género</th>
                        <th>Ciudad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for f in formulario %}
                        <tr>
                            <td>{{ f.nombre_cliente }}</td>
                            <td>{{ f.apellido_cliente }}</td>
                            <td>{{ f.numero_cliente }}</td>
                            <td>{{ f.correo_cliente }}</td>
                            <td>{{ f.id_genero.genero }}</td>
                            <td>{{ f.ciudad_cliente }}</td>
                            <td class="action-buttons">
                                <a href="{% url 'modificar_reserva' f.id %}" class="btn btn-primary btn-sm">Modificar</a>
                                <form action="{% url 'eliminar_reserva' f.id %}" method="post" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que quieres eliminar esta reserva?');">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hay reservas disponibles.</p>
        {% endif %}
    </div>
</body>
</html>
