body {
    font-family: Arial, sans-serif;
    background-image: url('../IMG/parquevicente.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el contenedor */
}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: #007bff;
    margin-bottom: 20px;
    display: inline-block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff; /* Fondo blanco */
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: #fff; /* Fondo blanco */
}

th {
    background-color: #f2f2f2;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #c82333;
}
