body {
    font-family: Arial, sans-serif;
    background-image: url(../IMG/Laguna\ verde.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el contenedor */
}

.CuadroTexto {
    background-color: #fff; /* Fondo blanco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el contenedor */
}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.form-group label {
    font-weight: bold;
    color: #333; /* Color del texto */
}

.form-control {
    background-color: #fff; /* Fondo blanco */
    color: #000; /* Color del texto */
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.alert {
    margin-top: 20px;
}
